# Config File
.env

# Virtual Env
venv
env

# DB
site.db

## AJAX testing
weatherflaskwebapp/static/jpg/
weatherflaskwebapp/templates/form.html
weatherflaskwebapp/static/js/

# Dependency directories
node_modules/

# Misc
.DS_Store
.idea
__pycache__