{% extends "layout.html" %}

{% block content %}
    <div class="inner">
        <p>{{ current_user.username }}</p>
        <p>{{ current_user.email }}</p>
    </div>

    <div class="forecast-container">
        {% if cities %}
            <div class="row">
                {% for city in cities %}
                <div class="col-sm">
                    <p>{{ city.name }}</p>
                </div>
                {% endfor %}
            </div>
                        </div>
        {% else %}
            <p>No Cities Saved</p>
        {% endif %}
    </div>

{% endblock content %}