{% extends "layout.html" %}

{% block content %}
    <div class="inner" id="inputForm" >
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">
                        Weather Live
                    </legend>
                    <div class="form-group">
                        {{ form.city.label(class="form-control-label") }}
                        {% if form.city.errors %}
                        {{ form.city(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.city.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.city(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <p class="my-4">OR</p>
                    <div class="form-group">
                        {{ form.zipcode.label(class="form-control-label") }}
                        {% if form.zipcode.errors %}
                        {{ form.zipcode(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.zipcode.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.zipcode(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                </fieldset>
                <div class="form-group" >
                        {{ form.submit(class="btn btn-outline-info" ) }}
                </div>
            </form>
       </div>

{% raw %}
            <script id="result_template" type="text/html">
          <div class="inner">
              {{ #current }}
                <h1>{{ city }}</h1>

    <!--        <p class="h6">{{ weather.current[0].country }}</p>-->
            <p class="h5">Current Time:  {{ datetime }}</p>
            <i class= "icon wi wi-owm-{{ current.iconcode }}"></i>
            <p>{{ description }}</p>
            <p class="h4"> {{ celsius }} Celsius | {{ fahrenheit }} Fahrenheit</p>
            <p> UV index: {{ uvi }}</p>
{{ /current }}
          </div>
            <div class="forecast-container">
              <div class="row">
                  {{ #forecast }}
                <div class="col-sm">
                  <p class="h5">{{ datetime }}</p><br/>
                  <p class="h7">{{ celsius }} Celsius | {{ fahrenheit }} Fahrenheit</p>
                  <p > UV index: {{ uvi }} </p>
                </div>
                  {{ /forecast }}
              </div>
            </div>
        </div>
    </script>

{% endraw %}

    <div id="result"></div>

{% endblock content %}