{% extends "layout.html" %}

{% block content %}
    <div class="inner">
        <h1>Check weather</h1>
              <form action="/check_weather" class="inputform">
                  <div class="form-group">
                    <label htmlFor="formId1">City</label>
                      <input type="text" class="form-control" name="cityname" id="formId1" placeholder="ex. San Francisco, Tokyo">
                      <small class="form-text text-muted">Please enter a city name</small>
                  </div>
                  <div class="form-group">
                    <label htmlFor="formId1">State</label>
                      <input type="text" class="form-control" name="statename" id="formId1" placeholder="ex. CA, NY">
                      <small class="form-text text-muted">Please enter state abbreviation</small>
                  </div>
                  <div class="form-group">
                    <label htmlFor="formId1">Country</label>
                      <input type="text" class="form-control" name="countryname" id="formId1" placeholder="ex. US, JP">
                      <small class="form-text text-muted">Please enter country abbreviation</small>
                  </div>
                  <button type="submit" class="btn btn-primary">Check weather</button>
              </form>
    </div>
{% endblock content %}
