{% extends "layout.html" %}

{% block content %}
        <div <div class="inner">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">
                        Log In
                    </legend>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {{ form.email(class="form-control form-control-lg") }}
                    </div>

                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {{ form.password(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-check">
                        {{ form.remember(class="form-check-input") }}
                        {{ form.remember.label(class="form-check-label") }}
                    </div>

                </fieldset>
                <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                </div>
                <small>
                    <a href="#">Forgot Password?</a>
                </small>

            </form>
            <small>Need An Account?
                <a href="{{ url_for('register') }}">Sign Up Now</a>
            </small>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
<!-- bootstrap jquery   -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<!--    <script src="{{ url_for('static', filename='js/save.js') }}"></script>-->
{% endblock scripts %}