html {
    height:100%;
    width:100%;
    background: url(https://i.postimg.cc/kXq9Qmnj/bgd1.jpg) no-repeat;
    background-size: cover;
    }

body {
    background-color: transparent
}
.inputform{
    text-align: left;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin: 50px auto;
  width: 35%;
  border: 3px solid ;
  padding: 25px;
  background: #e9eaef94;
  text-align: center;
  min-width: 350px;
}

.row {
    display: flex;
    }
    
.col-sm {
    border: 1px solid;
    padding:10px;}

.forecast-container {
  margin: auto;
  width: 80%;
  border: 3px solid ;
  padding: 25px;
  background: #e9eaef94;
  text-align: center;
  min-width: 350px;

}